<!DOCTYPE html>
<html>
<head>
  <title><%= eatery.name %></title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.classless.min.css" />
</head>
<body>
  <main>
    <a href="/eateries">&lt; Back</a>

    <hgroup>
      <h1><%= eatery.name %></h1>
      <h2><strong><%= eatery.genre %></strong> - <small><%= eatery.price %></small></h2>
    </hgroup>

    <h6><%= eatery.address %></h6>

    <iframe
      src="https://maps.google.com/maps?output=embed&amp;q=<%= eatery.address %>"
      width="500"
      height="400"
    ></iframe>
  </main>
</body>
</html>
